NET "r_button" LOC = 51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "g_button" LOC = 41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b_button" LOC = 35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "y_button" LOC = 33 | IOSTANDARD = LVTTL | PULLDOWN;

NET "up_button" LOC = 50 | IOSTANDARD = LVTTL | PULLDOWN;
NET "down_button" LOC = 40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "left_button" LOC = 34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "right_button" LOC = 32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "conf_button" LOC = 29 | IOSTANDARD = LVTTL | PULLDOWN;

NET "seg_one[0]" LOC = P58;
NET "seg_one[0]" IOSTANDARD = LVTTL;
NET "seg_one[1]" LOC = P67;
NET "seg_one[1]" IOSTANDARD = LVTTL;
NET "seg_one[2]" LOC = P75;
NET "seg_one[2]" IOSTANDARD = LVTTL;
NET "seg_one[3]" LOC = P79;
NET "seg_one[3]" IOSTANDARD = LVTTL;
NET "seg_one[4]" LOC = P81;
NET "seg_one[4]" IOSTANDARD = LVTTL;
NET "seg_one[5]" LOC = P83;
NET "seg_one[5]" IOSTANDARD = LVTTL;
NET "seg_one[6]" LOC = P85;
NET "seg_one[6]" IOSTANDARD = LVTTL;
NET "seg_one[7]" LOC = P88;
NET "seg_one[7]" IOSTANDARD = LVTTL;

NET "seg_two[0]" LOC = P57;
NET "seg_two[0]" IOSTANDARD = LVTTL;
NET "seg_two[1]" LOC = P66;
NET "seg_two[1]" IOSTANDARD = LVTTL;
NET "seg_two[2]" LOC = P74;
NET "seg_two[2]" IOSTANDARD = LVTTL;
NET "seg_two[3]" LOC = P78;
NET "seg_two[3]" IOSTANDARD = LVTTL;
NET "seg_two[4]" LOC = P80;
NET "seg_two[4]" IOSTANDARD = LVTTL;
NET "seg_two[5]" LOC = P82;
NET "seg_two[5]" IOSTANDARD = LVTTL;
NET "seg_two[6]" LOC = P84;
NET "seg_two[6]" IOSTANDARD = LVTTL;
NET "seg_two[7]" LOC = P87;
NET "seg_two[7]" IOSTANDARD = LVTTL;

NET "seg_three[0]" LOC = P93;
NET "seg_three[0]" IOSTANDARD = LVTTL;
NET "seg_three[1]" LOC = P95;
NET "seg_three[1]" IOSTANDARD = LVTTL;
NET "seg_three[2]" LOC = P98;
NET "seg_three[2]" IOSTANDARD = LVTTL;
NET "seg_three[3]" LOC = P100;
NET "seg_three[3]" IOSTANDARD = LVTTL;
NET "seg_three[4]" LOC = P102;
NET "seg_three[4]" IOSTANDARD = LVTTL;
NET "seg_three[5]" LOC = P105;
NET "seg_three[5]" IOSTANDARD = LVTTL;
NET "seg_three[6]" LOC = P112;
NET "seg_three[6]" IOSTANDARD = LVTTL;
NET "seg_three[7]" LOC = P115;
NET "seg_three[7]" IOSTANDARD = LVTTL;

NET "seg_lives[0]" LOC = P92;
NET "seg_lives[0]" IOSTANDARD = LVTTL;
NET "seg_lives[1]" LOC = P94;
NET "seg_lives[1]" IOSTANDARD = LVTTL;
NET "seg_lives[2]" LOC = P97;
NET "seg_lives[2]" IOSTANDARD = LVTTL;
NET "seg_lives[3]" LOC = P99;
NET "seg_lives[3]" IOSTANDARD = LVTTL;
NET "seg_lives[4]" LOC = P101;
NET "seg_lives[4]" IOSTANDARD = LVTTL;
NET "seg_lives[5]" LOC = P104;
NET "seg_lives[5]" IOSTANDARD = LVTTL;
NET "seg_lives[6]" LOC = P111;
NET "seg_lives[6]" IOSTANDARD = LVTTL;
NET "seg_lives[7]" LOC = P114;
NET "seg_lives[7]" IOSTANDARD = LVTTL;

NET "grid[0]" LOC = P144;
NET "grid[0]" IOSTANDARD = LVTTL;
NET "grid[1]" LOC = P142;
NET "grid[1]" IOSTANDARD = LVTTL;
NET "grid[2]" LOC = P140;
NET "grid[2]" IOSTANDARD = LVTTL;
NET "grid[3]" LOC = P138;
NET "grid[3]" IOSTANDARD = LVTTL;
NET "grid[4]" LOC = P134;
NET "grid[4]" IOSTANDARD = LVTTL;
NET "grid[5]" LOC = P132;
NET "grid[5]" IOSTANDARD = LVTTL;
NET "grid[6]" LOC = P127;
NET "grid[6]" IOSTANDARD = LVTTL;
NET "grid[7]" LOC = P124;
NET "grid[7]" IOSTANDARD = LVTTL;

NET "grid[8]" LOC = P143;
NET "grid[8]" IOSTANDARD = LVTTL;
NET "grid[9]" LOC = P141;
NET "grid[9]" IOSTANDARD = LVTTL;
NET "grid[10]" LOC = P139;
NET "grid[10]" IOSTANDARD = LVTTL;
NET "grid[11]" LOC = P137;
NET "grid[11]" IOSTANDARD = LVTTL;
NET "grid[12]" LOC = P133;
NET "grid[12]" IOSTANDARD = LVTTL;
NET "grid[13]" LOC = P131;
NET "grid[13]" IOSTANDARD = LVTTL;
NET "grid[14]" LOC = P126;
NET "grid[14]" IOSTANDARD = LVTTL;
NET "grid[15]" LOC = P123;
NET "grid[15]" IOSTANDARD = LVTTL;
